/config/tellme/*.txt
/config/tellme/*.csv
/config/jei/*.zip
/config/jei/worldSettings.cfg
/config/JEI/worldSettings.cfg
/config/BiomeTweaker/output/
/config/forgeamidst/
/config/MapWriterBlockColours.txt
/config/splash.properties
/config/biomesoplenty/biomes/defaults/
/resources/contenttweaker/
/multimc
/config/chiselsandbits_clipboard.cfg
