/config/tellme/*.txt
/config/tellme/*.csv
/config/*.bak
/config/jei/*.zip
/config/jei/worldSettings.cfg
/config/jei/bookmarks.ini
/config/JEI/worldSettings.cfg
/config/JEI/bookmarks.ini
/config/BiomeTweaker/output/
/config/forgeamidst/
/config/MapWriterBlockColours.txt
/config/splash.properties
/config/biomesoplenty/biomes/defaults/
/resources/contenttweaker/
/multimc
/config/chiselsandbits_clipboard.cfg
/config/thaumicjei_itemstack_aspects.json
/mods/memory_repo
config/thaumicjei_itemstack_aspects.json
/junk
