/config/tellme/*.txt
/config/tellme/*.csv
/config/*.bak
/config/[Jj][Ee][Ii]/*.zip
/config/[Jj][Ee][Ii]/worldSettings.cfg
/config/[Jj][Ee][Ii]/bookmarks.ini
/config/BiomeTweaker/output/
/config/forgeamidst/
/config/MapWriterBlockColours.txt
/config/splash.properties
/config/biomesoplenty/biomes/defaults/
/resources/contenttweaker/
/multimc
/config/chiselsandbits_clipboard.cfg
/config/AppliedEnergistics2/CustomRecipes.cfg
/config/AppliedEnergistics2/items.csv
/config/thaumicjei_itemstack_aspects.json
/mods/memory_repo
config/thaumicjei_itemstack_aspects.json
/junk
/mods/.old
/mods/.index
