#Inventory Tweaks Configuration
#(Regarding shortcuts, all key names can be found at: http://legacy.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html)
#Mon Oct 23 23:38:24 CDT 2017
enableMiddleClick=false
showChestButtons=true
enableSortingOnPickup=false
enableAutoRefill=false
autoRefillBeforeBreak=false
autoRefillDamageThreshhold=5
enableSounds=false
enableShortcuts=false
enableAutoEquipArmor=false
enableServerItemSwap=false
enableConfigLoadedMesssage=false
invertToolDamageSorting=true
shortcutKeyAllItems=LCONTROL+LSHIFT, RCONTROL+RSHIFT
shortcutKeyEverything=SPACE
shortcutKeyOneItem=LCONTROL, RCONTROL
shortcutKeyToUpperSection=UP
shortcutKeyToLowerSection=DOWN
shortcutKeyDrop=RALT
version=1.63+release.109.220f184
