#Inventory Tweaks Configuration
#(Regarding shortcuts, all key names can be found at: http://legacy.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html)
#Thu Jun 15 23:37:49 CDT 2017
enableMiddleClick=false
showChestButtons=false
enableSortingOnPickup=false
enableAutoRefill=false
autoRefillBeforeBreak=false
autoRefillDamageThreshhold=5
enableSounds=true
enableShortcuts=true
enableAutoEquipArmor=false
enableServerItemSwap=false
enableConfigLoadedMesssage=false
invertToolDamageSorting=true
shortcutKeyAllItems=LCONTROL+LSHIFT, RCONTROL+RSHIFT
shortcutKeyEverything=SPACE
shortcutKeyOneItem=LCONTROL, RCONTROL
shortcutKeyToUpperSection=UP
shortcutKeyToLowerSection=DOWN
shortcutKeyDrop=RALT
version=1.62+release.90.40cf8fc
