# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
        tconstruct
        intangible
        magneticraft
     >
    S:"Mod Aliases" <
        naturalpledge=botania
        thermalexpansion=thermalfoundation
        thermaldynamics=thermalfoundation
        thermalcultivation=thermalfoundation
        rftoolsdim=rftools
        rftoolscontrol=rftools
        xnet=rftools
        immersivetech=immersiveengineering
        immersivepetroleum=immersiveengineering
     >
    B:"Morph in the offhand instead of mainhand"=false
    S:"Whitelisted Items" <
        botania:twigwand
        appliedenergistics2:network_tool
        immersiveengineering:tool:0
        astralsorcery:itemwand
     >
    S:"Whitelisted Names" <
        wrench
        screwdriver
        hammer
        rotator
     >
}


