# Configuration file

general {
    # Allows you to change the size of the clock's font.
    D:cfg.fontscale=1.0

    # The time and date format.
    S:cfg.format=12HH:MM ZZBRNAME DATE, YEAR
    S:cfg.location=bottom-left

    # Enabling makes the HUD require a clock to be in your inventory.
    B:cfg.needclock=false

    # Enabling makes the HUD show the real time and date instead of the Minecraft time and date.
    B:cfg.real=false
}


hidden {
    # The X coordinate of the clock on the screen, with respect to the alignment
    I:cfg.clockx=4

    # The Y coordinate of the clock on the screen, with respect to the alignment
    I:cfg.clocky=4

    # cfg.fontcolor.tooltip
    I:cfg.fontcolor=16777215

    # The justification used to align the clock's X value, useful when resizing the screen
    S:cfg.xalignment=LEFT

    # The justification used to align the clock's Y value, useful when resizing the screen
    S:cfg.yalignment=TOP
}


