# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # List of other worldtypes (id) that this mod will try to work with. The worldtype has to support the IChunkPrimerFactory API for this to work [default: ]
    S:adaptingWorldTypes <
     >

    # List of asset libraries loaded in the specified order. If the path starts with '/' it is going to be loaded directly from the classpath. If the path starts with '$' it is loaded from the config directory [default: [/assets/lostcities/citydata/palette.json], [/assets/lostcities/citydata/palette_desert.json], [/assets/lostcities/citydata/palette_chisel.json], [/assets/lostcities/citydata/palette_chisel_desert.json], [/assets/lostcities/citydata/highwayparts.json], [/assets/lostcities/citydata/library.json], [$lostcities/userassets.json]]
    S:assets <
        /assets/lostcities/citydata/palette.json
        /assets/lostcities/citydata/palette_desert.json
        /assets/lostcities/citydata/palette_chisel.json
        /assets/lostcities/citydata/palette_chisel_desert.json
        /assets/lostcities/citydata/highwayparts.json
        /assets/lostcities/citydata/library.json
        $lostcities/userassets.json
     >

    # List of all supported profiles (used for world creation). Warning! Make sure there is always a 'default' profile! [default: [default], [nodamage], [rarecities], [onlycities], [tallbuildings], [safe], [chisel]]
    S:profiles <
        default
        nodamage
        rarecities
        onlycities
        tallbuildings
        safe
        chisel
        esopaco
     >
}


